## Variable and Data type

In [1]:
ammount =500

In [3]:
print(ammount)

500

In [4]:
person =3
p1 = "Jahin"
p2 = 'Komo'
p3= "Tarik"

In [9]:
avarage = ammount/3

In [10]:
avarage

166.66666666666666

In [11]:
print(p1,p2)

Jahin Komo

In [12]:
first_name ="Rejaul"
last_name = "Tirtho"

In [15]:
full_name = first_name, last_name

In [16]:
full_name

('Rejaul', 'Tirtho')

In [17]:
type(full_name)

tuple

In [20]:
for i in range(10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

## Operator and Operand

In [ ]:
print