## Variable and Data type

In [1]:
ammount =500

In [3]:
print(ammount)

500

In [4]:
person =3
p1 = "Jahin"
p2 = 'Komo'
p3= "Tarik"

In [9]:
avarage = ammount/3

In [10]:
avarage

166.66666666666666

In [11]:
print(p1,p2)

Jahin Komo

In [12]:
first_name ="Rejaul"
last_name = "Tirtho"

In [15]:
full_name = first_name, last_name

In [16]:
full_name

('Rejaul', 'Tirtho')

In [17]:
type(full_name)

tuple

In [20]:
for i in range(10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

## Operator and Operand

In [22]:
print (7**2)

49

In [23]:
print(35%3)

2

In [28]:
a = 3<<3

In [29]:
a

24

In [30]:
num = input("Enter num")

Enter num30

In [31]:
num

'30'

In [32]:
num = int(num)

In [33]:
num

30

In [34]:
## this is a advance topic for this lesson 
names = ["Sam", 'Diago', "Rodrigo", "Hames"]

In [35]:
names

['Sam', 'Diago', 'Rodrigo', 'Hames']

In [37]:
function_sort = sorted(names)

In [38]:
function_sort

['Diago', 'Hames', 'Rodrigo', 'Sam']

In [40]:
names

['Sam', 'Diago', 'Rodrigo', 'Hames']

In [41]:
names.sort()

In [42]:
names

['Diago', 'Hames', 'Rodrigo', 'Sam']

## Variable value Update

In [43]:
    ammount +=2000

In [44]:
avarage

166.66666666666666

In [45]:
ammount

2500