# This course is added from python for everyone specialization.

In [2]:
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Tracks')
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')

In [3]:

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)',('My Way',15))
conn.commit()

In [4]:
cur.execute('SELECT * FROM Tracks')
for row in cur:
    print(row)

('My Way', 15)

In [5]:
cur.execute('insert into tracks (title, plays) values(?,?)', ('Talking to Myself', 4350))
conn.commit()

In [6]:
song_list =  cur.execute('Select * from tracks')
conn.commit()

In [7]:
song_list

In [8]:
for row in song_list:
    print(row)

('My Way', 15)
('Talking to Myself', 4350)

In [10]:
cur.execute('select * from

# Spindering Twitter using a Database

In [2]:
from urllib.request import urlopen
import urllib.error
import json
import sqlite3

In [3]:
import ssl

In [5]:
TWITTER_URL = 'https://api.twitter.com/1.1/friends/list.json'

In [6]:
connection = sqlite3.connect('pider.sqlite')

In [7]:
cur =  connection.cursor()

In [8]:
cur.execute('''CREATE TABLE IF NOT EXISTS Twitter(name TEXT, retrieved INTEGER, friends INTEGER)''')

In [9]:
ctx=ssl.create_default_context()
ctx.check_hostname=False
ctx.verify_mode=ssl.CERT_NONE

In [10]:
while True:
    acct = input('Enter a Twitter account, or quit: ')
    if (acct == 'quit'): break
    if (len(acct) < 1):
        cur.execute('SELECT name FROM Twitter WHERE retrieved = 0 LIMIT 1')
        try:
            acct = cur.fetchone()[0]
        except:
            print('No unretrieved Twitter accounts found')
            continue

    url = twurl.augment(TWITTER_URL, {'screen_name': acct, 'count': '20'})
    print('Retrieving', url)
    connection = urlopen(url, context=ctx)
    data = connection.read().decode()
    headers = dict(connection.getheaders())

    print('Remaining', headers['x-rate-limit-remaining'])
    js = json.loads(data)
    # Debugging
    # print json.dumps(js, indent=4)

    cur.execute('UPDATE Twitter SET retrieved=1 WHERE name = ?', (acct, ))

    countnew = 0
    countold = 0
    for u in js['users']:
        friend = u['screen_name']
        print(friend)
        cur.execute('SELECT friends FROM Twitter WHERE name = ? LIMIT 1',
                    (friend, ))
        try:
            count = cur.fetchone()[0]
            cur.execute('UPDATE Twitter SET friends = ? WHERE name = ?',
                        (count+1, friend))
            countold = countold + 1
        except:
            cur.execute('''INSERT INTO Twitter (name, retrieved, friends)
                        VALUES (?, 0, 1)''', (friend, ))
            countnew = countnew + 1
    print('New accounts=', countnew, ' revisited=', countold)
    conn.commit()

cur.close()

Enter a Twitter account, or quit: rktirtho

NameError: name 'twurl' is not defined

In [1]:
import sqlite3

conn =  sqlite3.connect('pider.sqlite')

In [2]:
cur = conn.cursor()

In [4]:
cur.execute("show tables")

OperationalError: near "show": syntax error